- var navBar = {'Главная':'/main', 'Склад':'/store', 'Клиенты': '/clients'};

nav.navbar.navbar-inverse
    ul.nav.navbar-nav.navbar-collapse
        li.nav-item
            a(href='#') Автомастерская
                span.glyphicon.glyphicon-cog
        -each rest,item in navBar
            li.nav-item: a(href=rest)=item
    ul.nav.navbar-nav.navbar-collapse.navbar-right
        li.nav-item
            a(href='#')
                span.glyphicon.glyphicon-user
        li.nav-item: a(href='/logout') Выход
