//
   Created by deadalter on 03.05.2017.

- var navBar = {'Главная':'/main', 'Склад':'/store', 'Клиенты': '/clients'};

nav.navbar.navbar-default
    ul.nav.navbar-nav.navbar-collapse
        -each rest,item in navBar
            li.nav-item: a(href=rest)=item
    ul.nav.navbar-nav.navbar-collapse.navbar-right
        li.nav-item: a(href='/logout') Выход
