//
   Created by deadalter on 03.05.2017.
extends layout

block content

    include includes/addClient_modal
    include includes/addOrder_modal

    script.
        $(document).ready(function () {
            $('#newClientModal').click(function () {
                $('#newClientDia').modal('show');
            });

            $('#addOrder').on('click', function(){
                $('#newOrderDia').modal('show');
            });
        });

    include includes/main_navbar
    div#main.container-fluid.wrapper
        div.row
            div#left_block.col-sm-3.col-md-2.sidebar
                ul.nav.nav-pills.flex-column
                    li.nav-item: a(href='/clients/all') Все клиенты
                    li.nav-item: a(href='/clients') Только мои
                ul.nav.nav-pills.flex-column
                    li.nav-item: a#newClientModal(href='#') Добавить клиента
            div#client_list.col-sm-9.col-md-10.main
                include includes/clients_template
