extends layout

block content
    script.
        var reg = function () {
            window.location.href = '/reg';
        }

    h1#main_label Добро пожаловать в #{title}!
    div#auth_block
        p#auth_label Пожалуйста, авторизируйтесь!
        div#auth_div
            form#auth(method='post', action='/auth')
                div.form-group
                    label(for='login') Логин
                    input#login.auth_input.form-control(type='text', name='login', form='auth', placeholder='Введите логин')
                div.form-group
                    label(for='password') Пароль
                    input#password.auth_input.form-control(type='password', name='password', form='auth', placeholder='Введите пароль')
                button#auth_button.btn.btn-default(type='submit', form='auth') Войти
                button#reg_button.btn.btn-default(type='button', onclick='reg()') Регистрация

