//
   Created by deadalter on 13.04.2017.
extends layout

block content
    //TODO: Make nice view

    include includes/addOrder_modal

    script.
        $(document).ready(function(){
            $('#newOrderModal').click(function(){
                $('#newOrderDia').modal('show');
            });
        });


    include includes/main_navbar
    div#main.container-fluid.wrapper
        div.row
            div#left_block.col-sm-3.col-md-2.sidebar
                ul.nav.nav-pills.flex-column
                    li.nav-item: a#newOrderModal(href='#') Добавить заказ
            div#work_list.col-sm-9.col-md-10.main
                include includes/orders

