//
   Created by deadalter on 13.04.2017.
extends layout

block content
    //TODO: Make nice view
    nav.navbar.navbar-default(role='navigation')
        div.container-fluid
            div.navbar-header

            div#navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li.active
                        a(href='#') Главная
                    li
                        a(href='#') Тест
                    li
                        a(href='#') Тест
                    li
                        a(href='#') Тест
    div#main

        div#work_list
        div#rightside_block
        div#rightside_footerblock
        div#footer
