//
   Created by deadalter on 03.05.2017.
extends layout

block content

    include includes/addStoreItem_modal

    script.
        $(document).ready(function () {
            $('#newStoreItemModal').click(function () {
                $('#newStoreItemDia').modal('show');
            });
        });

    include includes/main_navbar
    div#main.container-fluid.wrapper
        div#left_block.col-sm-3.col-md-2.sidebar
            ul.nav.nav-pills.flex-column
                li.nav-item: a#newStoreItemModal(href='#') Добавить
        div#work_list.col-md-8
            h1.page-header Склад
            table.table
                thead
                    tr
                        th Наименование
                        th Колличество
                        th: i.icon-trash
                tbody
                - each item in store
                    tr(data=item._id)
                        td=item.itemName
                        td=item.count
                        td: button.btn.btn-sm.btn-danger Удалить




