#main {
    padding: 20px;
}

#top_menu {
    display: inline-block;
    position: absolute;
}

#left_block {
    height: 100%;
}

#work_list {
    display: block;
    position: relative;
    float: left;
    height: 100%;
}