body {
    margin: auto;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button {
    display: inline-block;
}

.auth_input {
    margin: 3px auto;
    display: block;
}

#main_label {
    width: 450px;
    height: auto;;
    margin: 10px auto;
}

#auth_block {
    min-width: 100%;
    margin-top: 100px;
    overflow: hidden;
}

#auth_label {
    width: 200px;
    height: auto;
    margin: 3px auto;
    overflow: hidden;
}

#auth_input{
    width: 500px;
    height: 100px;
    margin: 0 auto;
}
