body {
    margin: 0;
    padding-top: 50px;
    padding-botom: 50px;
    box-sizing: border-box;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url('/public/images/bg.jpg');
}
