extends layout

block content
    h1#main_label Добро пожаловать в #{title}!
    div#auth_block
        p#auth_label Пожалуйста, авторизируйтесь
        div#auth_div
            form#auth(method='post')
                input#login.auth_input(type='text', name='login', form='auth', placeholder='Введите логин')
                input#password.auth_input(type='text', name='password', form='auth', placeholder='Введите пароль')
                button#auth_button(form='auth', formaction='/auth') Войти

    script.
        function auth() {
            var login = document.getElementById('login').value;
            var pass = document.getElementById('password').value;
            //test([login, pass]);
        }

        function test(someVar) {
            console.log(someVar)
        }