//
   Created by deadalter on 13.04.2017.
extends layout

block content
    div#main
        div#top_menu

        div#work_list
        div#rightside_block
        div#rightside_footerblock
        div#footer